.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.news-header {
  margin-top: 0px;
  font-weight: bold;
  font-size: 16px;
}

.main-page-news-container {
  display: flex;
  position: relative;
  margin: 10px;
}

.news-page-news-container {
  display: contents;
  position: relative;
  margin: 10px;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.news-page-news-container-paywalled {
  position: relative;
  margin: 10px;
  max-height: 60%;
  display: inline-block;
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.author-avatar-img {
    object-fit: cover;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.067);
    border-radius: 123123;
    margin-right: 10;
}

.news-page-news-container-detail-author {  
  margin: 10px;
  font-size: 12px;
}

.news-page-news-container-detail {
  height: 980px;
  margin: 10px;
}

.news-page-news-container-detail-paywalled {
  height: 50%;
  margin: 10px; 
}

.news-page-news-content {  
  width: 100%;
  height: 800px;
  position: relative;
  display: inline-block;
  overflow: scroll;
  margin: 0;
}

.news-page-news-content-paywalled {
  width: 100%;
  height: 300px;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.size-full {
  height: 100%; 
  width: 100%; 
  display:block
}

.main-page-news-container-img {
  width: 250px;
  height: 170px;
  margin: 10px;
}

.main-page-news-container-detail {
  height: 170px;
  margin: 10px;
}

.main-page-news-container-detail-author {
  position:absolute;
  bottom:0;
  right:0;
  margin: 10px;
}

.avatar-placeholder {
  border-radius: 50%;
  height: 72px;
  margin-right: 20px;
  width: 72px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
